Add_Gene_Names filter=lfs diff=lfs merge=lfs -text
Bar_Plot_Conditions filter=lfs diff=lfs merge=lfs -text
Bar_Plot_Plates filter=lfs diff=lfs merge=lfs -text
Check_Normalisation filter=lfs diff=lfs merge=lfs -text
Condition_Variance filter=lfs diff=lfs merge=lfs -text
Cosine_Similarity filter=lfs diff=lfs merge=lfs -text
Iris_to_Dataset filter=lfs diff=lfs merge=lfs -text
MW_Conditions_to_Remove filter=lfs diff=lfs merge=lfs -text
MW_Plates_to_Remove filter=lfs diff=lfs merge=lfs -text
Mann_Whitney_Condition_Level filter=lfs diff=lfs merge=lfs -text
Mann_Whitney_Plate_Level filter=lfs diff=lfs merge=lfs -text
Pass_Fail_Conditions filter=lfs diff=lfs merge=lfs -text
Pass_Fail_Plates filter=lfs diff=lfs merge=lfs -text
S_Scores filter=lfs diff=lfs merge=lfs -text
Variance_Conditions_to_Remove filter=lfs diff=lfs merge=lfs -text
Z_Plates_to_Remove filter=lfs diff=lfs merge=lfs -text
Z_Score filter=lfs diff=lfs merge=lfs -text
Z_Score_Count filter=lfs diff=lfs merge=lfs -text
